@import "tailwindcss";

@theme {
  /* Isso cria automaticamente as classes bg-background, text-accent, border-borderUI, etc. */
  --color-background: var(--bg-principal);
  --color-foreground: var(--texto-principal);
  --color-accent: var(--marca-accent);
  --color-sandbox: var(--verde-sandbox);
  --color-borderUI: var(--borda-sutil);

  /* Isso cria as classes font-poppins, font-inter, font-fira */
  --font-poppins: var(--font-poppins), sans-serif;
  --font-inter: var(--font-inter), sans-serif;
  --font-fira: var(--font-fira-code), monospace;
}

@layer base {
  :root {
    /* Tema Claro */
    --bg-principal: #FFFBF7;
    --texto-principal: #231F20;
    --marca-accent: #FF5411;
    --verde-sandbox: #00E699;
    --borda-sutil: #E5E0DA;
  }

  .dark {
    /* Tema Escuro */
    --bg-principal: #161414;
    --texto-principal: #F5EFEB;
    --borda-sutil: #2A2626;
  }

  body {
    background-color: var(--bg-principal);
    color: var(--texto-principal);
    transition: background-color 0.3s ease, color 0.3s ease;
  }
}